---
layout: default
---

{% include banner.html %}

<div class="container py-5">
  <!-- TODO -->
  <div class="row">
    <div class="col-6">
      <h2>Présentation</h2>
      <p>Vous souhaitez vendre ou acheter un appartement, une maison ou un terrain à bâtir ? </p>
      <p>Home Sénart vous accompagne tout au long de la réalisation de votre projet immobilier.</p>
      <p>Nous vous proposons une assistante permanente, pour vous guider dans l’achat ou la vente de votre bien immobilier.</p>
    </div>
    <div class="col-6">
      <img src="{{ '/assets/images/house.jpg' | relative_url }}" class="rounded w-100" alt="">
    </div>
  </div>

  {% include cards.html %}

  <div class="row">
    <div class="col">
      <h2>Suivez-nous</h2>

      <!-- TODO: replace with actual facebook and instagram links -->
      <p>Pour vous ne pas rater nos prochains biens entrants, suivez nous sur <a href="https://facebook.com" target="_blank" class="link"><i class="fab fa-facebook"></i> Facebook</a> et <a href="https://www.instagram.com" target="_blank" class="link"><i class="fab fa-instagram"></i> Instagram</a>.</p>

      <p>Contactez-nous</p>
    </div>
  </div>
</div>
