<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{ '/' | relative_url }}">
      <i class="fas fa-home"></i>
      Home Sénart
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link {% if page.url == '/' %}active{% endif %}" aria-current="page" href="{{ '/' | relative_url }}">Accueil</a>
        <a class="nav-link {% if page.url == '/presentation.html' %}active{% endif %}" href="{{ site.baseurl }}/presentation">Présentation</a>
        <a class="nav-link {% if page.url == '/biens.html' %}active{% endif %}" href="{{ '/biens' | relative_url }}">Nos biens</a>
        <a class="nav-link {% if page.url == '/contact.html' %}active{% endif %}" href="{{ '/contact' | relative_url }}">Contact</a>
      </div>
    </div>
  </div>
</nav>
