.full-height {
  min-height: calc(100vh - 56px - 100px); // full height minus navbar & footer heights
}

.mt-nav {
  margin-top: 75px; // shift content from navbar height
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
}
