.full-height {
  min-height: calc(100vh - 56px - 56px); // full height minus navbar & footer heights
}

.mt-nav {
  margin-top: 75px; // shift content from navbar height
}

.grid {
  display: grid;
  grid-gap: 16px;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
}
