:root {
  --primary: #1EDD88;
}


.full-height {
  min-height: calc(100vh - 56px - 56px); // full height minus navbar & footer heights
}

.mt-nav {
  margin-top: 75px; // shift content from navbar height
}

.grid {
  display: grid;
  grid-gap: 16px;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
}

a {
  text-decoration: none;
}

.link {
  font-weight: bold;
  color: var(--primary);
  position: relative;
  text-decoration: none;
}

.link:hover {
  color: var(--primary);
}

.link::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--primary);
  transform: scaleX(0);
  transform-origin: top left;
  transition: transform 0.2s ease;
}

.link:hover::after {
  transform: scaleX(1);
}
